In [ ]:
import pandas as pd
from datetime import datetime
import re

In [88]:
# Carregando dados em um dataframe pandas

df = pd.read_json(
    '../../data/data_netvasco_temp_17to24.jsonl', lines=True)

In [89]:
# Imprimindo primeiras linhas
df.head(5)

,data_mandante_visitante_gols,competição_resultado,temporada
0,"[18/01, VASCO , Boavista, Capasso, Leandrinho...","[Carioca, 2 x 0, Serie RLP, 0 x 1, Carioca, 3 ...",Temporada 2024
1,"[15/01, VASCO , Barcelona-EQU, NenÃª, Rodrigo...","[Florida Cup, 2 x 1, Florida Cup, 1 x 4, Flori...",Temporada 2017
2,"[18/01, VASCO , Bangu, -, 21/01, VASCO , Nov...","[Estadual, 0 x 2, Estadual, 4 x 2, Estadual, 2...",Temporada 2018
3,"[19/01, VASCO , Bangu, -, 22/01, VASCO , Fla...","[Estadual, 0 x 0, Estadual, 0 x 1, Estadual, 0...",Temporada 2020
4,"[03/03, VASCO , Portuguesa, -, 06/03, Volta R...","[Estadual, 0 x 1, Estadual, 1 x 0, Estadual, 2...",Temporada 2021

In [90]:
# Verificar valores ausentes

print("\nValores ausentes no conjunto de dados:")
print(df.isnull().sum())

Valores ausentes no conjunto de dados:
data_mandante_visitante_gols    0
competição_resultado            0
temporada                       0
dtype: int64

In [91]:
# Verificando os nomes das colunas

print("Nomes das colunas no DataFrame:")
print(df.columns)

Nomes das colunas no DataFrame:
Index(['data_mandante_visitante_gols', 'competição_resultado', 'temporada'], dtype='object')

In [92]:
# Usando variavel auxiliar para selecionar as linhas correspondentes a cada ano

temp_2024 = df.iloc[[0]]
temp_2017 = df.iloc[[1]]
temp_2018 = df.iloc[[2]]
temp_2020 = df.iloc[[3]]
temp_2021 = df.iloc[[4]]
temp_2022 = df.iloc[[5]]
temp_2019 = df.iloc[[6]]
temp_2023 = df.iloc[[7]]

In [93]:
# Separando dados em col2 para tratamento

temp_17_col2 = temp_2017['competição_resultado']
temp_18_col2 = temp_2018['competição_resultado']
temp_19_col2 = temp_2019['competição_resultado']
temp_20_col2 = temp_2020['competição_resultado']
temp_21_col2 = temp_2021['competição_resultado']
temp_22_col2 = temp_2022['competição_resultado']
temp_23_col2 = temp_2023['competição_resultado']
temp_24_col2 = temp_2024['competição_resultado']

In [94]:
# Separando dados de competição e resultado

# Função auxiliar para processar cada linha
def separar_competicao_resultado(linha):
    if isinstance(linha, list):
        itens = linha  # já está como lista, segue o baile
    else:
        itens = str(linha).split(', ')
    competicoes = itens[::2]
    resultados = itens[1::2]
    return pd.DataFrame({'competicao': competicoes, 'resultado': resultados})

# Aplica a função em todas as linhas
temp_17_col2_clean = pd.concat(temp_17_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)
temp_18_col2_clean = pd.concat(temp_18_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)
temp_19_col2_clean = pd.concat(temp_19_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)
temp_20_col2_clean = pd.concat(temp_20_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)
temp_21_col2_clean = pd.concat(temp_21_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)
temp_22_col2_clean = pd.concat(temp_22_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)
temp_23_col2_clean = pd.concat(temp_23_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)
temp_24_col2_clean = pd.concat(temp_24_col2.apply(separar_competicao_resultado).to_list(), ignore_index=True)

In [95]:
# Função para tratar os dados separados em col2.

def tratar_resultados_col2(df_resultados):
    # Cópia de segurança opcional (pra não mexer no original, se quiser)
    df = df_resultados.copy()

    # Substitui traços ou vazios por placar neutro
    df['resultado'] = df['resultado'].replace('-', '0 x 0')

    # Extrai os dois números do placar e transforma em inteiros
    df[['gol_mandante', 'gol_visitante']] = df['resultado'].str.extract(
        r'(\d+)\s*x\s*(\d+)', expand=True
    ).astype(int)

    # Remove a coluna original de resultado
    df = df.drop(columns=['resultado'])

    return df

In [96]:
# Aplicando função para tratar os dados de col2 para anos de 2017 a 2024

temp_17_col2_clean = tratar_resultados_col2(temp_17_col2_clean)
temp_18_col2_clean = tratar_resultados_col2(temp_18_col2_clean)
temp_19_col2_clean = tratar_resultados_col2(temp_19_col2_clean)
temp_20_col2_clean = tratar_resultados_col2(temp_20_col2_clean)
temp_21_col2_clean = tratar_resultados_col2(temp_21_col2_clean)
temp_22_col2_clean = tratar_resultados_col2(temp_22_col2_clean)
temp_23_col2_clean = tratar_resultados_col2(temp_23_col2_clean)
temp_24_col2_clean = tratar_resultados_col2(temp_24_col2_clean)

In [97]:
# Separando dados em col1 para tratamento dos dados para anos de 2017 a 2024

temp_17_col1 = temp_2017['data_mandante_visitante_gols']
temp_18_col1 = temp_2018['data_mandante_visitante_gols']
temp_19_col1 = temp_2019['data_mandante_visitante_gols']
temp_20_col1 = temp_2020['data_mandante_visitante_gols']
temp_21_col1 = temp_2021['data_mandante_visitante_gols']
temp_22_col1 = temp_2022['data_mandante_visitante_gols']
temp_23_col1 = temp_2023['data_mandante_visitante_gols']
temp_24_col1 = temp_2024['data_mandante_visitante_gols']

In [98]:
# Função para concatenar dados separados em col1 e col2 já tratados

def preparar_dataframe(col1, col2):
    # Reseta o índice para garantir alinhamento perfeito
    col1 = col1.reset_index(drop=True)
    col2 = col2.reset_index(drop=True)

    # Junta lado a lado
    df = pd.concat([col1, col2], axis=1)

    # Detecta colunas de artilheiros
    colunas_gols_extra = [col for col in df.columns if col.startswith('gol_') and col not in ['gol_mandante', 'gol_visitante']]

    # Monta a nova ordem das colunas
    nova_ordem = ['data']
    if 'competicao' in df.columns:
        nova_ordem.append('competicao')
    nova_ordem += ['mandante', 'gol_mandante', 'visitante', 'gol_visitante'] + colunas_gols_extra

    # Reorganiza
    df = df[nova_ordem]

    return df

In [99]:
# Função para tratar dados separados em col1


def tratar_jogos_col1(lista_dados, ano):
    # Lista com os dados crus (ex: temp_17_col1[1])
    dados = lista_dados

    # Função pra identificar datas no formato dd/mm
    def is_data(item):
        return bool(re.match(r'\d{2}/\d{2}', str(item)))

    # Identifica onde começam os blocos de jogos
    indices = [i for i, val in enumerate(dados) if is_data(val)]

    # Monta os jogos a partir das fatias
    jogos = []
    for i in range(len(indices)):
        ini = indices[i]
        fim = indices[i + 1] if i + 1 < len(indices) else len(dados)
        trecho = dados[ini:fim]
        if len(trecho) >= 4:
            data = trecho[0]
            mandante = trecho[1].strip()
            visitante = trecho[2].strip()
            gols_raw = trecho[3].strip()
            artilheiros = [g.strip() for g in gols_raw.split(',')] if gols_raw != '-' else []
            jogo = {
                'data': data,
                'mandante': mandante,
                'visitante': visitante
            }
            for j, nome in enumerate(artilheiros):
                jogo[f'gol_{j+1}'] = nome
            jogos.append(jogo)

    # Cria o DataFrame
    df = pd.DataFrame(jogos)

    # Trata a data completa e formata para dd/mm/aaaa
    df['data_completa'] = pd.to_datetime(
        df['data'].astype(str).str.strip() + f'/{ano}', format='%d/%m/%Y'
    )
    df['data_formatada'] = df['data_completa'].dt.strftime('%d/%m/%Y')

    # Limpa e reorganiza
    df = df.drop(columns=['data', 'data_completa'])
    df = df.rename(columns={'data_formatada': 'data'})

    # Coloca 'data' na primeira coluna
    colunas = df.columns.tolist()
    colunas.remove('data')
    nova_ordem = ['data'] + colunas
    df = df[nova_ordem]

    return df

In [100]:
# Aplicando a função para tratar os dados da col1 para anos de 2017 a 2024

temp_17_col1_clean = tratar_jogos_col1(temp_17_col1[1], 2017)
temp_18_col1_clean = tratar_jogos_col1(temp_18_col1[2], 2018)
temp_19_col1_clean = tratar_jogos_col1(temp_19_col1[6], 2019)
temp_20_col1_clean = tratar_jogos_col1(temp_20_col1[3], 2020)
temp_21_col1_clean = tratar_jogos_col1(temp_21_col1[4], 2021)
temp_22_col1_clean = tratar_jogos_col1(temp_22_col1[5], 2022)
temp_23_col1_clean = tratar_jogos_col1(temp_23_col1[7], 2023)
temp_24_col1_clean = tratar_jogos_col1(temp_24_col1[0], 2024)

In [101]:
# Aplicando função para concatenar dados que foram separados em col1 e col2 para anos de 2017 a 2024

df_2017 = preparar_dataframe(temp_17_col1_clean, temp_17_col2_clean)
df_2018 = preparar_dataframe(temp_18_col1_clean, temp_18_col2_clean)
df_2019 = preparar_dataframe(temp_19_col1_clean, temp_19_col2_clean)
df_2020 = preparar_dataframe(temp_20_col1_clean, temp_20_col2_clean)
df_2021 = preparar_dataframe(temp_21_col1_clean, temp_21_col2_clean)
df_2022 = preparar_dataframe(temp_22_col1_clean, temp_22_col2_clean)
df_2023 = preparar_dataframe(temp_23_col1_clean, temp_23_col2_clean)
df_2024 = preparar_dataframe(temp_24_col1_clean, temp_24_col2_clean)

In [102]:
# Concatenando os df das temporadas 2017 a 2024

# Lista com todos os DataFrames
lista_dfs = [df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024]

for i, df in enumerate(lista_dfs, start=2017):
    print(f"Ano {i} — linhas: {len(df)}, colunas: {df.columns.tolist()}")

for df in lista_dfs:
    print(df.dtypes)


# Cria uma nova coluna 'ano' em cada DataFrame
anos = list(range(2017, 2025))
for df, ano in zip(lista_dfs, anos):
    df['ano'] = ano

# Junta tudo em um só DataFrame
df_data_netvasco = pd.concat(lista_dfs, ignore_index=True)

Ano 2017 — linhas: 60, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3']
Ano 2018 — linhas: 67, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3', 'gol_4']
Ano 2019 — linhas: 65, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3', 'gol_4']
Ano 2020 — linhas: 61, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3']
Ano 2021 — linhas: 59, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3']
Ano 2022 — linhas: 53, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3', 'gol_4']
Ano 2023 — linhas: 56, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3', 'gol_4']
Ano 2024 — linhas: 63, colunas: ['data', 'competicao', 'mandante', 'gol_mandante', 'visitante', 'gol_visitante', 'gol_1', 'gol_2', 'gol_3', 'gol_4']
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
dtype: object
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
gol_4            object
dtype: object
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
gol_4            object
dtype: object
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
dtype: object
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
dtype: object
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
gol_4            object
dtype: object
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
gol_4            object
dtype: object
data             object
competicao       object
mandante         object
gol_mandante      int64
visitante        object
gol_visitante     int64
gol_1            object
gol_2            object
gol_3            object
gol_4            object
dtype: object

In [103]:
# Verificando df concatenado

df_data_netvasco.head(3)

,data,competicao,mandante,gol_mandante,visitante,gol_visitante,gol_1,gol_2,gol_3,ano,gol_4
0,15/01/2017,Florida Cup,VASCO,2,Barcelona-EQU,1,NenÃª,Rodrigo,NaN,2017,NaN
1,18/01/2017,Florida Cup,VASCO,1,Corinthians,4,Eder Luis,NaN,NaN,2017,NaN
2,21/01/2017,Florida Cup,VASCO,1,River Plate-ARG,0,NenÃª,NaN,NaN,2017,NaN

In [104]:
# Corrigindo duplicatas da coluna gol_1

df_data_netvasco['gol_1'] = df_data_netvasco['gol_1'].replace({
    'NenÃª' : 'Nenê',
    'NenÃª (2)' : 'Nenê (2)',
    'Nene' : 'Nenê',
    'PaulÃ£o' : 'Paulinho',
    'AndrÃ©s RÃ\xados' : 'Andrés Ríos'
    })

print(df_data_netvasco['gol_1'].unique().tolist())

['Nenê', 'Eder Luis', nan, 'Guilherme Costa', 'Escudero', 'Nenê (2)', 'Thalles', 'Yago Pikachu', 'Douglas Luiz', 'Rafael Marques', 'Luis Fabiano', 'Luis Fabiano (2)', 'Jean', 'Caio Monteiro', 'Paulinho (2)', 'Manga Escobar', 'Ramon', 'Mateus Vital', 'Andrés Ríos', 'Breno', 'Evander', 'Paulinho', 'Evander (2)', 'Bruno Cosendey', 'Paulão', 'Erazo', 'Fabrício', 'Yago Pikachu (2)', 'Wagner', 'Bruno Silva', 'Andrey', 'Thiago Galhardo', 'Maxi López', 'Marrony', 'Marrony (2)', 'Lucas Mineiro', 'Danilo Barcelos', 'Bruno César', 'Tiago Reis', 'Raul', 'Ricardo Graça', 'Marcos Júnior', 'Valdívia (2)', 'Leandro Castan', 'Fellipe Bastos', 'Ribamar', 'Bruno Gomes', 'Rossi', 'Fredy Guarín', 'Oswaldo Henríquez', 'Germán Cano', 'Werley (2)', 'Germán Cano (3)', 'Fellipe Bastos (2)', 'Germán Cano (2)', 'Henrique', 'Talles Magno', 'Vinícius', 'Martín Benítez', 'Léo Matos', 'Carlinhos', 'Gabriel Pec', 'Ricardo Graça (2)', 'Gabriel Pec (2)', 'Marquinhos Gabriel', 'Matías Galarza', 'Tiago Reis (3)', 'Sarrafiore', 'Daniel Amorim', 'Morato', 'MT', 'Léo Jabá', 'Raniel', 'Getúlio (2)', 'Bruno Nazário', 'gol contra', 'Figueiredo', 'Andrey Santos', 'Getúlio', 'Erick', 'Andrey Santos (2)', 'Eguinaldo', 'Alex Teixeira (2)', 'Fábio Gomes', 'Anderson Conceição', 'Galarza', 'Alex Teixeira', 'Pedro Raul (2)', 'Erick Marcus', 'Puma Rodríguez', 'Capasso', 'Pedro Raul', 'Barros', 'Jair', 'Rayan', 'Vegetti', 'Serginho', 'Vegetti (2)', 'Payet', 'Paulo Henrique', 'Paulinho Paula', 'Léo', 'David', 'Adson', 'Galdames', 'Lucas Piton', 'Maicon', 'Mateus Carvalho', 'Juan Sforza', 'Emerson Rodríguez', 'Hugo Moura', 'João Victor', 'Philippe Coutinho', 'Payet (2)']

In [105]:
# Corrigindo duplicatas da coluna gol_2

df_data_netvasco['gol_2'] = df_data_netvasco['gol_2'].replace({
    'NenÃª' : 'Nenê',
    'NenÃª (2)' : 'Nenê (2)',
    'Nene' : 'Nenê',
    'PaulÃ£o' : 'Paulinho',
    'AndrÃ©s RÃ\xados' : 'Andrés Ríos'
    })

print(df_data_netvasco['gol_2'].unique().tolist())

['Rodrigo', nan, 'Nenê', 'Thalles', 'Wagner', 'Yago Pikachu', 'Luis Fabiano', 'Manga Escobar', 'Paulo Vitor', 'Paulinho', 'Andrey', 'Rildo', 'Thiago Galhardo', 'Riascos', 'Evander', 'Giovanni Augusto', 'Andrés Ríos', 'Bruno Cosendey', 'Ramon', 'Danilo Barcelos', 'Yan Sasse', 'Marrony', 'Ribamar', 'Rossi', 'Tiago Reis', 'Ricardo Graça', 'Leandro Castan', 'Talles Magno', 'Raul', 'Germán Cano', 'Martín Benítez', 'Marquinhos Gabriel', 'Zeca', 'Gabriel Pec', 'Léo Matos', 'Bruno Gomes', 'Morato', 'Léo Jabá', 'Caio Lopes', 'Matías Galarza', 'Juninho', 'Raniel', 'Vinícius', 'Figueiredo', 'Palacios', 'Eguinaldo', 'Marlon Gomes', 'Bruno Tubarão', 'Andrey Santos', 'Jair', 'Pedro Raul', 'Alex Teixeira', 'Galarza', 'Praxedes', 'Orellano', 'Vegetti', 'Puma Rodríguez', 'Serginho', 'Leandrinho', 'Rayan', 'Galdames', 'Zé Gabriel', 'David', 'Lucas Piton', 'Mateus Carvalho', 'Lyncon', 'GB', 'Victor Luis', 'Emerson Rodríguez', 'Maxime Dominguez']

In [106]:
# Corrigindo duplicatas da coluna gol_3

df_data_netvasco['gol_3'] = df_data_netvasco['gol_3'].replace({
    'NenÃª' : 'Nenê',
    'NenÃª (2)' : 'Nenê (2)',
    'Nene' : 'Nenê',
    })

print(df_data_netvasco['gol_3'].unique().tolist())

[nan, 'Thalles', 'Nenê', 'Evander', 'Yago Pikachu', 'Rildo', 'Wagner', 'Riascos', 'Paulinho', 'Caio Monteiro', 'Dudu', 'Thiago Galhardo', 'Ribamar', 'Ygor Catatau', 'Matías Galarza', 'Morato', 'Marquinhos Gabriel', 'Vitinho', 'Quintero', 'Raniel', 'Figueiredo', 'Marlon Gomes', 'Léo', 'Puma Rodríguez', 'Vegetti', 'Rossi', 'Paixão', 'Lucas Piton', 'Payet', 'Estrella']

In [107]:
# Corrigindo duplicatas da coluna mandante

df_data_netvasco['mandante'] = df_data_netvasco['mandante'].replace({
    'MacaÃ©' : 'Macaé',
    'VitÃ³ria' : 'Vitória',
    'Vitoria' : 'Vitória',
    'Nova IguaÃ§u' : 'Nova Iguaçu',
    'GrÃªmio' : 'Grêmio',
    'SÃ£o Paulo' : 'São Paulo',
    'AtlÃ©tico-MG' : 'Atlético-MG',
    'AvaÃ\xad' : 'Avaí',
    'AtlÃ©tico-GO' : 'Atlético-GO',
    'Atletico-GO' : 'Atlético-GO',
    'AtlÃ©tico-PR' : 'Athletico-PR',
    'Atlético-PR' : 'Athletico-PR',
    'ABC' : 'ABC-RN',
    'Juazeirense' : 'Juazeirense-BA',
    'Operário' : 'Operário-PR',
    'VASCO' : 'Vasco da Gama'
    })


print(df_data_netvasco['mandante'].unique().tolist())

['Vasco da Gama', 'Bangu', 'Santos-AP', 'Volta Redonda', 'Flamengo', 'Vila Nova', 'Macaé', 'Vitória', 'Nova Iguaçu', 'Fluminense', 'Palmeiras', 'Grêmio', 'Chapecoense', 'Botafogo', 'Coritiba', 'São Paulo', 'Atlético-MG', 'Ponte Preta', 'Bahia', 'Corinthians', 'Sport', 'Avaí', 'Atlético-GO', 'Santos', 'Athletico-PR', 'Cruzeiro', 'Cabofriense', 'Universidad de Concepción-CHI', 'Jorge Wilstermann-BOL', 'Portuguesa', 'Madureira', 'Racing-ARG', 'Universidad de Chile-CHI', 'Internacional', 'LDU-EQU', 'América-MG', 'Paraná', 'Ceará', 'Juazeirense-BA', 'Serra-ES', 'Resende', 'Fortaleza', 'Rio Branco-ES', 'Foz do Iguaçu', 'Goiás', 'CSA', 'Boavista', 'Altos-PI', 'Oriente Petrolero-BOL', 'Caracas-VEN', 'Defensa y Justicia-ARG', 'Red Bull Bragantino', 'Caldense-MG', 'Tombense-MG', 'Brasil de Pelotas', 'Remo', 'Operário-PR', 'CRB', 'Brusque', 'Confiança', 'Sampaio Corrêa', 'Náutico', 'Guarani', 'Londrina', 'Audax', 'Ferroviária', 'Tombense', 'Novorizontino', 'Criciúma', 'Ituano', 'River Plate', 'Inter Miami', 'Trem-AP', 'Cuiabá', 'San Lorenzo-ARG', 'Deportivo Maldonado-URU', 'Marcílio Dias', 'Juventude']

In [108]:
# Corrigindo duplicatas da coluna visitante

df_data_netvasco['visitante'] = df_data_netvasco['visitante'].replace({
    'MacaÃ©' : 'Macaé',
    'VitÃ³ria' : 'Vitória',
    'Vitoria' : 'Vitória',
    'Nova IguaÃ§u' : 'Nova Iguaçu',
    'GrÃªmio' : 'Grêmio',
    'SÃ£o Paulo' : 'São Paulo',
    'AtlÃ©tico-MG' : 'Atlético-MG',
    'AvaÃ\xad' : 'Avaí',
    'AtlÃ©tico-GO' : 'Atlético-GO',
    'Atletico-GO' : 'Atlético-GO',
    'AtlÃ©tico-PR' : 'Athletico-PR',
    'Atlético-PR' : 'Athletico-PR',
    'ABC' : 'ABC-RN',
    'Juazeirense' : 'Juazeirense-BA',
    'Operário' : 'Operário-PR',
    'VASCO' : 'Vasco da Gama'
    })


print(df_data_netvasco['visitante'].unique().tolist())

['Barcelona-EQU', 'Corinthians', 'River Plate-ARG', 'Fluminense', 'Vasco da Gama', 'Resende', 'Portuguesa', 'Vitória', 'Botafogo', 'Madureira', 'Boavista', 'Flamengo', 'Bahia', 'Sport', 'Avaí', 'Atlético-GO', 'Santos', 'Athletico-PR', 'Cruzeiro', 'Palmeiras', 'Grêmio', 'Chapecoense', 'Coritiba', 'São Paulo', 'Atlético-MG', 'Ponte Preta', 'Bangu', 'Nova Iguaçu', 'Volta Redonda', 'Universidad de Concepción-CHI', 'Jorge Wilstermann-BOL', 'Macaé', 'Universidad de Chile-CHI', 'Racing-ARG', 'América-MG', 'Paraná', 'LDU-EQU', 'Ceará', 'Internacional', 'Americano', 'CSA', 'Fortaleza', 'Goiás', 'Cabofriense', 'Oriente Petrolero-BOL', 'ABC-RN', 'Red Bull Bragantino', 'Caracas-VEN', 'Defensa y Justicia-ARG', 'Operário-PR', 'CRB', 'Brusque', 'Confiança', 'Sampaio Corrêa', 'Náutico', 'Guarani', 'Vila Nova', 'Londrina', 'Brasil de Pelotas', 'Remo', 'Ituano', 'Tombense', 'Novorizontino', 'Criciúma', 'Athletic-MG', 'Cuiabá', 'Audax', 'Água Santa', 'Juventude']

In [109]:
# Corrigindo duplicatas da coluna competição

df_data_netvasco['competicao'] = df_data_netvasco['competicao'].replace({
    'Copa BR' : 'Copa do Brasil',
    'Estadual' : 'Carioca'
    })


print(df_data_netvasco['competicao'].unique().tolist())

['Florida Cup', 'Carioca', 'Copa do Brasil', 'Brasileiro', 'Libertadores', 'Sul-Americana', 'Amistoso', 'Série B', 'Serie RLP']

In [110]:
# Função para repetir o nome do jogador para as outras colunas conforme o numero de gols na partida

def expandir_duplicatas_de_gols(df, col_prefix='gol_', max_pad=10):
    df = df.copy()

    # Identifica colunas do tipo gol_1, gol_2, etc.
    colunas_gol = sorted([
    col for col in df.columns if re.fullmatch(f"{col_prefix}[0-9]+", col)
], key=lambda x: int(x.split('_')[-1]))

    for idx, row in df.iterrows():
        nomes_expandidos = []

        for col in colunas_gol:
            valor = row[col]
            if isinstance(valor, str) and valor.strip():
                match = re.match(r'^(.*?)(?:\s*\((\d+)\))?$', valor.strip())
                if match:
                    nome = match.group(1).strip()
                    qtd = int(match.group(2)) if match.group(2) else 1
                    nomes_expandidos.extend([nome] * qtd)

        # Garante colunas suficientes
        num_gols = len(nomes_expandidos)
        for i in range(1, max(num_gols, max_pad) + 1):
            col_name = f'{col_prefix}{i}'
            if col_name not in df.columns:
                df[col_name] = None

        # Limpa as antigas e preenche com as novas
        for col in colunas_gol:
            df.at[idx, col] = None

        for i, nome in enumerate(nomes_expandidos):
            df.at[idx, f'{col_prefix}{i+1}'] = nome

    return df

In [111]:
# Aplicando a função para expandir os artilheiros nas colunas adjacentes

df_data_netvasco = expandir_duplicatas_de_gols(df_data_netvasco)

print(df_data_netvasco.columns)

Index(['data', 'competicao', 'mandante', 'gol_mandante', 'visitante',
       'gol_visitante', 'gol_1', 'gol_2', 'gol_3', 'ano', 'gol_4', 'gol_5',
       'gol_6', 'gol_7', 'gol_8', 'gol_9', 'gol_10'],
      dtype='object')

In [112]:
# Identifica colunas de artilheiros
colunas_gols = sorted([
    col for col in df_data_netvasco.columns if re.fullmatch(r'gol_\d+', col)
], key=lambda x: int(x.split('_')[1]))

# Aplica por linha: conta quantas vezes o mesmo jogador aparece
jogadores_multigols = []

for _, row in df_data_netvasco.iterrows():
    gols = row[colunas_gols].dropna().astype(str).str.strip()
    contagem = gols.value_counts()
    repetidos = contagem[contagem > 1]
    if not repetidos.empty:
        for jogador, qtd in repetidos.items():
            jogadores_multigols.append({
                'data': row['data'],
                'mandante': row['mandante'],
                'visitante': row['visitante'],
                'jogador': jogador,
                'gols_na_partida': qtd
            })

# Transforma em DataFrame final
df_multigols = pd.DataFrame(jogadores_multigols)

In [113]:
# Realocando a coluna ano para a primeira posição

colunas = df_data_netvasco.columns.tolist()
colunas.remove('ano')
colunas = ['ano'] + colunas
df_data_netvasco = df_data_netvasco[colunas]

In [114]:
# Convertendo a coluna data para o formato datetime

df_data_netvasco['data'] = pd.to_datetime(df_data_netvasco['data'], format='%d/%m/%Y')

In [115]:
# Verificando a existencia de espaços em branco nas colunas

for col in df_data_netvasco.select_dtypes(include='object').columns:
    if df_data_netvasco[col].str.contains(r'^\s|\s$', na=False).any():
        print(f"Atenção: há espaços em branco na coluna → {col}")

In [116]:
df_data_netvasco['data'] = df_data_netvasco['data'].dt.strftime('%d/%m/%Y')

df_data_netvasco.to_json(
    'data_netvasco_temp_17to24_clean.json',
    orient='records',
    force_ascii=False,
    indent=4
)